<!DOCTYPE html>
<html ng-app="adminScreen">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buzzmonitor</title>
    <!-- <div class="ui tree top attached buttons">
        <div class="ui button active">User</div>
        <div class="ui button">Settings</div>
        <div class="ui button">Settings</div>
    </div> -->
    <!-- <button class="huge ui button">
        Huge
    </button> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./src/components/search-user/search-user.css">
    <!-- <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="./src/components/user-listing/user-listing.css">
    <link rel="stylesheet" href="./node_modules/semantic-ui/dist/semantic.css">
    <link rel="stylesheet" href="./app.css">
</head>

<body ng-controller="AdminScreenCtrl">
    <br><br>
    <h5 style="text-align: center">Buzzmonitor Admin</h5>

    <div id="btns">
        <button id="first" class="ui primary button" ng-click="setViewSearch(true); setViewUserListing(false)">Search
            user</button>
        <button id="first" class="ui primary button" ng-click="setViewUserListing(true); setViewSearch(false)">All
            users</button>
    </div>

    <br>

    <search-user ng-if="true"></search-user>
    <br>
    <user-listing ng-if="viewUserListing"></user-listing>
    <user-account></user-account>

    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <!-- <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
    <script src="./src/app.js"></script>
    <script src="./src/admin-screen-ctrl.js"></script>
    <script src="./src/components/search-user/search-user.js"></script>
    <script src="./src/users-service.js"></script>
    <script src="./src/components/user-listing/user-listing.js"></script>
    <script src="./src/components/user-settings/user-account.js"></script>
    <script src="./src/components/user-settings/settings.js"></script>
    <script src="./node_modules/semantic-ui/dist/semantic.js"></script>
</body>

</html>