div#search {
    width: 28%;
    position: absolute;
    margin-left: 36%;
}

div#btns, td#editOption, div#viewSetting, td#quotaUsed {
    text-align: center
}

div#viewSetting, div#userStats {
    padding-left: 5%;
}

button#first {
    margin-right: 10px;
}

.form-group {
    align-self: center
}

input#email {
    width: 436px;
}

.settingsTable {
    width: 45%;
    margin-right: 0px;
    border-right-width: 0px;
}

div#quotaInfo {
    width: 35%;
    margin-left: 30px;
}

div#statsTable {
    width: 25%;
    margin-left: 3%;
} 

div#userInfo {
    width: 45%;
    margin-right: 0px;
    border-right-width: 0px
}

.atributte {
    text-align: right;
}

.iptSetting {
    width: 60px;
    height: 35px;
}

.btnSave {
    float: right;
}