<!-- ng-if="viewUserInformations" -->
<div id="search">
    <form class="form-inline">
        <div class="form-group">
            <div class="ui fluid action input">
                <input id="email" type="text" placeholder="Search emails and report IDs/URLs">
                <button id="btn-search" class="ui primary button" ng-click="searchUser(true); setViewTabs()">Search</button>
            </div>
        </div>
    </form>
</div>
<br><br><br><br>
<div class="ui container">
    <div>
        <div ng-if="viewTabs">
            <div class="ui four item menu huge">
                <a class="item" href="#users" ng-click="setViews(true, false, false, false)">USER</a>
                <a class="item" id="tabSettings" href="#settings" ng-click="getUserSettings(); setViews(false, true, false, false);">SETTINGS</a>
                <a class="item" ng-click="getStats(); setViews(false, false, true, false); quotaInformation()">STATS</a>
                <a class="item" ng-click="setViews(false, false, false, true)">OTHER</a>
            </div>

            <div class="ui segment" style="margin-top: 0px;padding-top: 0px;bottom: 15px;width: 100%;height: 425px;padding-bottom: 40%;">
                <div id="userInfo" ng-if="viewUserInformations">
                    <table style="border:none; width: 90%" class="ui basic table">
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none; text-align: right">User</td>
                                <td style="border-top: none">{{userEmail}}</td>
                            </tr>
                            <tr style="border-top: none">
                                <td class="atributte" style="border-top: none; text-align: right">Activation state</td>
                                <td style="border-top: none">
                                    <div class="ui compact menu">
                                        <div class="ui simple dropdown item">
                                            {{activationState}}
                                            <i class="dropdown icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td class="atributte" style="border-top: none; text-align: right">Account type*</td>
                                <td style="border-top: none">
                                    <div class="ui compact menu">
                                        <div class="ui simple dropdown item">
                                            {{accountType}}
                                            <i class="dropdown icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td class="atributte" style="border-top: none; text-align: right">Password</td>
                                <td style="border-top: none">
                                    <div class="ui input">
                                        <input type="password" id="password">
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td class="atributte" style="border-top: none; text-align: right">Password confirmation</td>
                                <td style="border-top: none">
                                    <div class="ui input"><input type="password"></div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <h2 class="ui right floated header"></h2> -->
                <div ng-if="viewSettings" style="padding-left: 85px">
                    <div class="settingsTable">
                        <table style="border:none" class="ui basic table">
                            <thead>
                                <tr style="border-bottom: none; background: none">
                                    <th style="border-bottom: none">Name</th>
                                    <th style="border-bottom: none">Limited</th>
                                    <th style="border-bottom: none; padding-left: 6.5%">Limit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Brands limit</td>
                                    <td style="border-top: none" id="check"><input id="check1" type="checkbox"></td>
                                    <td style="border-top: none" id="editOption">
                                        <div class="ui input"><input id="brand_limit" class="iptSetting" type="text"></div>
                                    </td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Collected posts per mounth limit</td>
                                    <td style="border-top: none" id="check"><input id="check2" type="checkbox"></td>
                                    <td style="border-top: none" id="editOption">
                                        <div class="ui input"><input id="collected_posts_limit" class="iptSetting" type="text"></div>
                                    </td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Analytics profiles limit</td>
                                    <td style="border-top: none" id="check"><input id="check3" type="checkbox"></td>
                                    <td style="border-top: none" id="editOption">
                                        <div class="ui input"><input id="analytics_profile_limit" class="iptSetting"
                                                type="text"></div>
                                    </td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Crm profile limit</td>
                                    <td style="border-top: none" id="check"><input id="check4" type="checkbox"></td>
                                    <td style="border-top: none" id="editOption">
                                        <div class="ui input"><input id="crm_profile_limit" class="iptSetting" type="text"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="width: 90%;height: 2px;margin-left: 55px;" class="ui fitted divider fluid"></div>

                    <div class="settingsTable">
                        <table style="border:none; width: 85%" class="ui basic table">
                            <thead>
                                <tr style="border-bottom: none; background: none">
                                    <th style="border-bottom: none">Module</th>
                                    <th style="width: 38%; padding-left: 15%; border-bottom: none">Able</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Active Analytics Pro</td>
                                    <td style="border-top: none" id="check"><input id="check5" type="checkbox"></td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Active Dashboards</td>
                                    <td style="border-top: none" id="check"><input id="check6" type="checkbox"></td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Active Historical Search</td>
                                    <td style="border-top: none" id="check"><input id="check7" type="checkbox"></td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="userStats" ng-if="viewStats">
                    <div id="quotaInfo">
                        <table style="border: none; width: 60%;" class="ui basic table">
                            <tbody>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Total quota:</td>
                                    <td style="border-top: none" id="check">
                                        <div>
                                            <div class="ui input">
                                                <input class="iptSetting" id="totalQuota" type="text">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Current quota:</td>
                                    <td style="border-top: none" id="check">{{currentQuota}}</td>
                                </tr>
                                <tr style="border-top: none">
                                    <td style="border-top: none">Quota used:</td>
                                    <td style="border-top: none" id="check">{{quotaUsed}}</td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <div style="width: 90%;height: 2px;margin-left: 55px;" class="ui fitted divider fluid"></div>
                    <br>

                    <div id="statsTable">
                        <table style="border:none" class="ui basic table">
                            <thead>
                                <tr style="border-bottom: none; background: none">
                                    <th style="border-bottom: none">Brand</th>
                                    <th style="border-bottom: none">Consumption</th>
                                    <th style="border-bottom: none;padding-left: 8%;">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-top: none" ng-repeat="project in projects">
                                    <td style="border-top: none">
                                        {{project.name}}
                                    </td>
                                    <td id="quotaUsed" style="border-top: none; width: 20%">
                                        {{project.quota_used}}
                                    </td>
                                    <td style="border-top: none">
                                        {{perc(project.quota_used)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <div style="float: right">
                        <button class="ui primary button btnSave" ng-click="save(); attView()">Pause Collection</button>
                    </div>

                </div>
                <br>
                <div ng-if="viewOther">
                    <table style="border:none; width: 95%" class="ui basic table">
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none; text-align: right">Sponsored Facebook posts</td>
                                <td style="border-top: none"><input id="check1" type="checkbox"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td class="atributte" style="border-top: none; text-align: right">Social News Sources</td>
                                <td style="border-top: none">
                                    <div class="ui input">
                                        <input style="width: 330px;" type="text">
                                    </div>
                                    <div>
                                        No Social News sources selected, which means this account doesn't monitor
                                        social
                                        news.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="ui primary button btnSave" ng-click="save(); attView()">Save</button>
            <br>