<!-- ng-if="viewUserInformations" -->
<div id="search">
    <form class="form-inline">
        <div class="form-group">
            <div class="ui fluid action input">
                <input id="email" type="text" placeholder="Search emails and report IDs/URLs">
                <button id="btn-search" class="ui primary button" ng-click="searchUser()">Search</button>
            </div>
        </div>
    </form>
</div>
<br><br><br><br>
<div class="ui container">
    <div>
        <div>
            <div class="ui three item menu huge">
                <a class="item" href="#users" ng-click="setViewUserInformations(true); setViewSettings(false); setViewStats(false)">USER</a>
                <a class="item" href="#settings" ng-click="getUserSettings(); setViewUserInformations(false); setViewSettings(true); setViewStats(false)">SETTINGS</a>
                <a class="item" ng-click="getProjectsInformations(); setViewUserInformations(false); setViewSettings(false); setViewStats(true)">STATS</a>
            </div>

            <div class="ui segment" style="margin-top: 0px;padding-top: 0px;bottom: 15px;width: 100%;height: 425px;padding-bottom: 40%;">
                <div ng-if="viewUserInformations">
                    <table style="border:none; width: 90%" class="ui basic table">
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none">User</td>
                                <td style="border-top: none">{{userEmail}}</td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Activation state</td>
                                <td style="border-top: none">
                                    <div class="ui compact menu">
                                        <div class="ui simple dropdown item">
                                            {{activationState}}
                                            <i class="dropdown icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Account type*</td>
                                <td style="border-top: none">
                                    <div class="ui compact menu">
                                        <div class="ui simple dropdown item">
                                            {{accountType}}
                                            <i class="dropdown icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Password</td>
                                <td style="border-top: none">
                                    <div class="ui input">
                                        <input type="text">
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Password confirmation</td>
                                <td style="border-top: none">
                                    <div class="ui input">
                                        <input type="text">
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <h2 class="ui right floated header"></h2> -->
                <div id="settingsTable" ng-if="viewSettings" style="padding-left: 85px">
                    <table style="border:none" class="ui basic table">
                        <thead>
                            <tr style="border-bottom: none; background: none">
                                <th>Name</th>
                                <th>Limited</th>
                                <th>Edit limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none">Brands limit</td>
                                <td style="border-top: none" id="check"><input id="check1" type="checkbox"></td>
                                <td style="border-top: none" id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Collected posts per mounth limit</td>
                                <td style="border-top: none" id="check"><input id="check2" type="checkbox"></td>
                                <td style="border-top: none" id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Analytics profiles limit</td>
                                <td style="border-top: none" id="check"><input id="check3" type="checkbox"></td>
                                <td style="border-top: none" id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Crm profile limit</td>
                                <td style="border-top: none" id="check"><input id="check4" type="checkbox"></td>
                                <td style="border-top: none" id="editOption"><i class="edit icon"></i></td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="width: 332.5%;height: 2px" class="ui fitted divider fluid"></div>

                    <table style="border:none; width: 90%" class="ui basic table">
                        <thead>
                            <tr style="border-bottom: none; background: none">
                                <th>Module</th>
                                <th style="width: 92px; padding-left: 40px">Able</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none">Active Analytics Pro</td>
                                <td style="border-top: none" id="check"><input id="check5" type="checkbox"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Active Dashboards</td>
                                <td style="border-top: none" id="check"><input id="check6" type="checkbox"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Active Historical Search</td>
                                <td style="border-top: none" id="check"><input id="check7" type="checkbox"></td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="viewStats">
                    <table style="border:none; width: 90%" class="ui basic table">
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none">Total quota:</td>
                                <td style="border-top: none" id="check">
                                    <div class="ui compact menu">
                                        <div class="ui input">
                                            <input id="totalQuota" type="text">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Current quota:</td>
                                <td style="border-top: none" id="check">{{currentQuota}}</td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Quota used:</td>
                                <td style="border-top: none" id="check">{{}}</td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>

                    <div style="width: 90%;height: 2px;margin-left: 55px;" class="ui fitted divider fluid"></div>

                    <table id="statsTable" style="border:none" class="ui basic table">
                        <thead>
                            <tr style="border-bottom: none; background: none">
                                <th>Brand</th>
                                <th>Consumption</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-top: none">
                                <td style="border-top: none">Brands limit</td>
                                <td style="border-top: none"></td>
                                <td style="border-top: none"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Collected posts per mounth limit</td>
                                <td style="border-top: none"></td>
                                <td style="border-top: none"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Analytics profiles limit</td>
                                <td style="border-top: none"></td>
                                <td style="border-top: none"></td>
                            </tr>
                            <tr style="border-top: none">
                                <td style="border-top: none">Crm profile limit</td>
                                <td style="border-top: none"></td>
                                <td style="border-top: none"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>