div#search {
    width: 28%;
    position: absolute;
    margin-left: 36%;
}

div#btns {
    text-align: center
}

button#first {
    margin-right: 10px;
}


td#editOption {
    text-align: center
}

.form-group {
    align-self: center
}

input#email {
    width: 436px;
}

div#viewSetting{
    text-align: center
}

div#settingsTable {
    width: 30%;
    margin-right: 0px;
    border-right-width: 0px;
}