<div id="search">
    <form class="form-inline">
        <div class="form-group">
            <input id="email" class="form-control" placeholder="Search emails and report IDs/URLs">
            <button id="btn-search" type="submit" class="btn btn-primary" ng-click="searchUser()">Search</button>
        </div>
    </form>
    <br>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user"
                    aria-selected="true">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
                    aria-selected="false" ng-click="getUserSettings()">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
                    aria-selected="false">Stats</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab"></div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div id="listing" class="container">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th id="listing" scope="col">Name</th>
                                <th id="listing" scope="col">Limited</th>
                                <th scope="col">Edit limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <tr>
                                <td>Brands limit</td>
                                <td id="check"><input id="check1" type="checkbox"></td>
                                <td id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr>
                                <td>Collected posts per month limit</td>
                                <td id="check"><input id="check2" type="checkbox"></td>
                                <td id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr>
                                <td>Analytics profiles limit</td>
                                <td id="check"><input id="check3" type="checkbox"></td>
                                <td id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            <tr>
                                <td>Crm profiles limit</td>
                                <td id="check"><input id="check4" type="checkbox"></td>
                                <td id="editOption"><i class="edit icon"></i></td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th id="listing" scope="col">Module</th>
                                <th id="listing" scope="col">Able</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <tr>
                                <td>Active Analytics Pro</td>
                                <td id="check"><input id="check5" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Active Dashboards</td>
                                <td id="check"><input id="check6" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Active Historical Search</td>
                                <td id="check"><input id="check7" type="checkbox"></td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">...</div>
        </div>
    </div>
</div>