div#search {
    width: 515px;
    position: absolute;
    left: 430px;
}

td#editOption {
    text-align: center
}

.form-group {
    align-self: center
}

input#email {
    width: 436px;
}

div#viewSetting{
    text-align: center
}

div#settingsTable {
    width: 30%;
    margin-right: 0px;
    border-right-width: 0px;
}