div#search {
    width: 28%;
    position: absolute;
    margin-left: 36%;
}

div#btns, td#editOption, div#viewSetting, td#quotaUsed {
    text-align: center
}

button#first {
    margin-right: 10px;
}

.form-group {
    align-self: center
}

input#email {
    width: 436px;
}

div#settingsTable {
    width: 45%;
    margin-right: 0px;
    border-right-width: 0px;
}

div#quotaInfo {
    width: 28%;
    margin-left: 30px;
}

div#statsTable {
    width: 22%;
    margin-left: 3%;
} 