<div>
    <table style="border:none; width: 90%" class="ui basic table">
        <tbody>
            <tr style="border-top: none">
                <td style="border-top: none">User</td>
                <td style="border-top: none">{{userEmail}}</td>
            </tr>
            <tr style="border-top: none">
                <td style="border-top: none">Activation state</td>
                <td style="border-top: none">
                    <div class="ui compact menu">
                        <div class="ui simple dropdown item">
                            {{activationState}}
                            <i class="dropdown icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="border-top: none">
                <td style="border-top: none">Account type*</td>
                <td style="border-top: none">
                    <div class="ui compact menu">
                        <div class="ui simple dropdown item">
                            {{accountType}}
                            <i class="dropdown icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="border-top: none">
                <td style="border-top: none">Password</td>
                <td style="border-top: none">
                    <div class="ui input">
                        <input type="text">
                    </div>
                </td>
            </tr>
            <tr style="border-top: none">
                <td style="border-top: none">Password confirmation</td>
                <td style="border-top: none">
                    <div class="ui input">
                        <input type="text">
                    </div>
                </td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>